* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url("R\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}
#container {
  width: 30rem;
  height: 33rem;
  background: rgb(255, 255, 255, 0.15);
  position: relative;
  justify-content: center;
  align-content: center;
  transform: translate(-50%, 10%);
  top: 50%;
  left: 50%;
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  /* margin-inline: auto; */
}
#container h1{
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
.profile-picture {
  width: 8em;
  height: 8em;
  background: #e9e6e6;
  border-radius: 50%;
  position: relative;
  margin-inline: auto;
  text-align: center;
}
.user{
  font-size: 5em;
  margin-inline: auto;
  position: relative;
  top: .2em;
  color: rgb(114, 107, 107);
}
form {
  background: transparent;
  position: relative;
  width: 100%;
  margin-inline: auto;
  left: 3em;
  top: 2em;
}
input[type="email"],
input[type="password"] {
  /* display: flex; */
  /* flex-direction: row; */
  width: 80%;
  margin-top: 20px;
  padding: 14px;
  outline: 0;
  border: 0;
  background: #e9e6e647;
  backdrop-filter: blur(5px);
  border-radius: 4px;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  margin: 10px;
  text-transform: capitalize;
  font-size: 14px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid {
  color: red;
  border: 2px solid red;
}
input[type="email"]:focus:valid,
input[type="password"]:focus:valid {
  color: green;
  border: 2px solid rgb(0, 128, 0);
}
.check {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6em;
  margin: 20px;
  top: 0;
  left: 0;
  position: relative;
  transform: translate(-10%, 0);
}
label {
  color: #fff;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.check a {
  color: #fff;
  text-transform: capitalize;
  font-style: italic;
  transition: all ease-in-out 0.3s;
}
.check a:hover{
  color: #afaaaa;
}
.button {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  align-items: baseline;
  /* gap: 20px; */
}
button, .button a {
  width: 40%;
  margin: 10px;
  padding: 6px;
  outline: 0;
  border: 0;
  text-align: center;
  text-decoration: none;
  font: 1.4em sans-serif;
  text-transform: capitalize;
  color: #ccc;
  background: #c8c3c34f;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
button:hover, .button a:hover {
  background-color: rgb(0, 128, 0);
}
.social {
  position: relative;
  top: 6%;
  transform: translateX(20%);
  display: block;
}
.fa-instagram,
.fa-facebook,
.fa-google,
.fa-pinterest,
.fa-youtube-play {
  cursor: pointer;
  margin: 10px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 7px;
  border-radius: 50px;
  font-weight: lighter;
  transition: all ease-in-out 0.4s;
}
.fa-instagram:hover {
  background-color: #ffffff;
  color: #cf0f0b;
}
.fa-facebook:hover {
  background-color: #23086a;
  color: #fff;
}
.fa-google:hover {
  background-color: #ffffff;
  color: #cf0f0b;
}
.fa-pinterest:hover {
  background-color: #ffffff;
  color: #cf0f0b;
}
.fa-youtube-play:hover {
  background-color: #ffffff;
  color: #cf0f0b;
}
